*{
    margin: 0px;
    padding: 0px;
}
.chess{
    border: 1px solid black;
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 20px;
    
}
.black{
    background-color: black;
    width: 50px;
}